system_public_prop(system_ril_ext_prop)
system_public_prop(telephony_ril_prop)

system_restricted_prop(device_config_faceauth_native_prop)
system_restricted_prop(telephony_modem_prop)

system_vendor_config_prop(fingerprint_ghbm_prop)
